<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4E8A9291E65FDAA00F2532B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4E8A93D1E65FDAA00F2532B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4E8A9481E65FDAA00F2532B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
